{% extends 'base.html.twig' %}

{% block title %}Testhub &mdash; вопрос теста{% endblock title %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets "%kernel.root_dir%/Resources/css/default_question.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
  {% endstylesheets %}
{% endblock stylesheets %}

{% block body %}
  <section class="question-container col-md-8 col-sm-12">
    <h1>{{ question.test.title }}</h1>
    <div class="panel panel-default">
      <div class="panel-heading question-number">
        Вопрос {{ question.sequenceNumber }} из {{ question.test.questions.count }}
      </div>
      <div class="panel-body question-description">
        {{ question.description }}
        <hr>
        {% if question.type is same as('text') %}
          {% include 'default/text_question.html.twig' %}
        {% elseif question.type is same as('decimal') %}
          {% include 'default/text_question.html.twig' %}
        {% elseif question.type is same as('single') %}
          {% include 'default/variant_question.html.twig' %}
        {% elseif question.type is same as('multiple') %}
          {% include 'default/variant_question.html.twig' %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock body %}
